/* 공통 */
body{
    padding-right: 0 !important;
    background-color: #fafafa;
}
.loader{
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    left: 50%;
    margin-left: -17px;
    background-image: url(../images/icon/Loader.gif);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.loader.md{
    width: 46px;
    height: 46px;
    position: fixed;
    top: auto;
    bottom: 0;
    background-image: url(../images/icon/Loader-md.gif);
}
.error-message{
    margin: 15px 0;
    font-size: 14px;
    color: #ed4956;
}
.btn-custom{
    height: 28px;
    line-height: 27px;
    padding: 0 24px;
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: none;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer !important;
}
.body-content-wrap .profile-body-wrap,
.body-content-wrap .user-find-body-wrap{
    max-width: 975px;
    margin: 0 auto;
}
.sub-common-title{
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
    color: #999;
}
.sub-common-title > span{
    font-size: 10px;
}
.modal-open{
    overflow: inherit;
}
/* 윈도우 스토어 링크 */
.store-down-content {
    position: relative;
    padding: 10px 15px;
    background: #e3425b; /* Old browsers */
    background: -moz-linear-gradient(left, #e3425b 0%, #c1317f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #e3425b 0%, #c1317f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #e3425b 0%, #c1317f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3425b', endColorstr='#c1317f', GradientType=1); /* IE6-9 */
    color: #fff;
}
.store-down-content .text-wrap .insta-title {
    font-size: 15px;
    font-weight: 600;
}
.store-down-content .text-wrap .info-text {
    font-size: 12px;
}
.store-down-content .down-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    padding: 6px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}
.content-wrap {
    padding: 72px 40px 50px;
    text-align: center;
}

/* 로그인 폼 */
.login-wrap .top-login-area {
    margin: 0 auto 12px;
    color: #999;
    text-align: center;
}
.login-wrap .insta-logo {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #000;
    letter-spacing: 0.05em;
    margin: 0 auto 10px;
}
.login-wrap .insta-logo-subtext {
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    word-break: keep-all;
}
.login-wrap .common-btn-login-form{
    width: 100%;
    height: 28px;
    line-height: 28px;
    border: 0;
    border-radius: 3px;
    background-color: #3897f0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    -webkit-appearance: none;
}
.login-wrap .common-btn-login-form .facebook-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-image: url(../images/landing_page/facebook_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: sub;
}
.login-wrap .form-wrap {
    margin: 20px 0 14px;
}
.login-wrap .form-wrap .input-label{
    display: none;
}
.login-wrap .form-wrap .login-custom-input {
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 11px 10px;
    margin-bottom: 6px;
    border: 1px solid #efefef;
    border-radius: 3px;
    font-size: 14px;
}
.login-wrap .form-wrap .input-content-wrap ::-webkit-input-placeholder {
    color: #999;
}
.login-wrap .bottom-login-area {
    height: 70px;
    line-height: 70px;
    margin: 60px 0;
    font-size: 14px;
    text-align: center;
}
.login-wrap .bottom-login-area .move-login-link {
    color: #3897f0;
}
/* login loading */
#login-progress {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    z-index: 2;
}
#login-bar {
    width: 0;
    height: 3px;
    background: linear-gradient(270deg, #e3425b, #c1317f);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
/*================ photo_page ===============*/
.header-content-wrap{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    z-index: 1;
}
.header-content-wrap.nav-up{
    height: 52px;
}
.header-content{
    max-width: 1010px;
    height: 100%;
    padding: 25px 40px;
    margin: 0 auto;
}
.header-content .left-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    height: 33px;
}
.header-content .left-content .scale{
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    color: #000;
    letter-spacing: 0.05em;
}
.header-content .right-content{
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateY(-50%);
    right: 40px;
    background-color: #fff;
}
.header-content .right-content .icon-wrap{
    font-size: 0;
}
.header-content .right-content .icon-wrap .fa-plus-square-o{
    font-size: 28px;
    color: #2b2b2b;
}
.header-content .right-content .icon{
    display: inline-block;
    margin-left: 30px;
}
.header-content .right-content .icon:first-child{
    margin-left: 0;
}


/* 컨텐츠 바디 main */
.body-content-wrap{
    max-width: 1010px;
    padding: 30px 40px 60px;
    margin: 75px auto 0;
    min-height: 700px;
}
.body-content-wrap .object-content-wrap{
    max-width: 614px;
    margin: 0 auto 60px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}
.body-content-wrap .header-title-wrap{
    padding: 15px 20px;
    font-size: 0;
}
.body-content-wrap .header-object{
    display: inline-block;
    vertical-align: middle;
}
.header-title-wrap .icon-wrap{
    margin-right: 15px;
}
.header-title-wrap .icon-wrap i{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #c1317f;
    background-size: cover;
    background-position: center;
}
.header-title-wrap .text-wrap{
    font-size: 14px;
    color: #262626;
}
.header-title-wrap .text-wrap .title{
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
}
.body-content-wrap .body-image-wrap{
    padding-bottom: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.body-content-wrap .footer-comment-wrap{
    padding: 13px 16px 0;
}

/* profile */
.body-content-wrap .profile-header-wrap{
    margin: 0 16px;
}
.profile-header-wrap .profile-pic{
    width: 77px;
    height: 77px;
    float: left;
    margin-right: 28px;
    border-radius: 50%;
    background-color: #c1317f;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-header-wrap .profile-top-status{
    width: calc(100% - 74px - 28px - 3px);
    float: left;
}
.profile-header-wrap .profile-top-status .nickname{
    margin-right: 7px;
    font-size: 26px;
    font-weight: 200;
}
.profile-header-wrap .profile-top-status .profile-edit{
    margin-top: 10px;
}
.profile-header-wrap .profile-top-status .profile-edit form{
    vertical-align: middle;
}
.profile-header-wrap .profile-top-status .profile-upload{
    padding: 0;
}
.profile-header-wrap .profile-top-status .profile-upload label{
    display: inline-block;
    padding: 0 24px;
}
.profile-header-wrap .profile-top-status .follow-btn{
    background-color: #3897f0;
    border-color: #3897f0;
    color: #fff;
}
.profile-header-wrap .profile-top-status .recommend-person{
    padding: 0 12px;
    vertical-align: middle;
}
.profile-header-wrap .profile-bottom-status{
    padding: 24px 0 20px;
    clear: left;
    font-size: 14px;
    overflow: hidden;
}
.profile-header-wrap .profile-bottom-status .status-contents{
    width: 33.333%;
    float: left;
    text-align: center;
}
.profile-header-wrap .profile-bottom-status .status-contents .status-count{
    display: block;
    margin-top: 3px;
    font-weight: 600;
}
.profile-body-wrap .modal .modal-dialog{
    position: absolute;
    top: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.profile-body-wrap .modal .modal-content{
    border-radius: 0;
}
.profile-body-wrap .modal .close{
    margin-right: 10px;
    font-size: 34px;
    font-family: sans-serif;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}
.profile-body-wrap .modal .modal-header{
    padding: 16px;
    border-bottom: solid 2px #dbdbdb;
    color: #262626;
    font-size: 16px;
    font-weight: 600;
}
.profile-body-wrap .modal .modal-body{
    display: block;
    height: 500px;
    padding: 0;
    overflow-y: scroll;
}
.modal-custom .modal-backdrop{
    background-color: #fff;
}
.modal-custom .modal-backdrop.in{
    opacity: 0;
}
.recommend-person-listwrap{
    display: none;
    padding: 20px;
    margin-bottom: 40px;
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.recommend-person-listwrap.on{
    display: block;
}
.recommend-person-listwrap .bx-wrapper{
    max-width: inherit !important;
    margin: 0;
    box-shadow: none;
}
.recommend-person-listwrap .bx-wrapper .bx-viewport{
    height: auto !important;
}
.recommend-person-listwrap .bx-wrapper .bx-prev,
.recommend-person-listwrap .bx-wrapper .bx-next{
    font-size: 0;
    text-indent: 0;
}
.recommend-person-listwrap .bx-wrapper .bx-prev:before,
.recommend-person-listwrap .bx-wrapper .bx-next:before{
    content: "\f137";
    display: block;
    width: 24px;
    height: 24px;
    font-family: FontAwesome;
    font-style: normal;
    font-size: 24px;
    opacity: .6;
}
.recommend-person-listwrap .bx-wrapper .bx-next:before{
    content: "\f138";
}
.recommend-person-listwrap .bx-controls-direction{
    display: none;
}
.recommend-person-listwrap:hover .bx-controls-direction{
    display: block;
}
.recommend-person-listwrap .person-info-wrap{
    height: 196px;
    float: left;
    padding: 20px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #fff;
    text-align: center;
}
.recommend-person-listwrap .person-info-wrap .profile-pic{
    display: block;
    width: 54px;
    height: 54px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background-color: #c1317f;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.recommend-person-listwrap .person-info-wrap span{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommend-person-listwrap .person-info-wrap .nickname{
    margin-bottom: 10px;
    color: #262626;
}
.recommend-person-listwrap .person-info-wrap .name{
    margin-bottom: 15px;
    color: #999;
}
.recommend-person-listwrap .person-info-wrap .follow-form{
    width: 100%;
}
.recommend-person-listwrap .person-info-wrap .btn-custom{
    width: 100%;
    height: 28px;
    line-height: 28px;
    background-color: #3897f0;
    border-color: #3897f0;
    color: #fff;
}

.articles-container .tab-wrap{
    border-top: 1px solid #efefef;
}
.articles-container .tab-title-wrap{
    text-align: center;
}
.articles-container .tab-title-wrap .tab-title{
    width: 50%;
    font-size: 20px;
    color: #999;
}
.articles-container .tab-title-wrap .tab-title a{
    padding: 20px;
    color: #999;
}
.articles-container .tab-title-wrap .tab-title a.on{
    border-top: 1px solid #000;
    color: #000;
}
.articles-container .tab-content-wrap .article-list{
    padding-top: 1%;
    padding-bottom: 1%;
}
.articles-container .tab-content-wrap .article-list:hover .pic-status{
    display: block !important;
}
.articles-container .tab-content-wrap .article-list .pic{
    display: block;
    padding-top: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
.articles-container .tab-content-wrap .article-list .no-img{
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #999;
}
.articles-container .tab-content-wrap .article-list .pic-status{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}
.articles-container .tab-content-wrap .article-list .pic-status-text-wrap{
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-weight: 500;
    color: #fff;
}
.articles-container .tab-content-wrap .article-list .pic-status-text-wrap span{
    padding: 0 1px;
    font-size: 12px;
}
.articles-container .tab-content-wrap .article-list .pic-status-text-wrap .fa-heart,
.articles-container .tab-content-wrap .article-list .pic-status-text-wrap .fa-comment{
    font-family: FontAwesome;
    font-size: 12px;
}
.articles-container .tab-content-wrap .tab-content-save{
    text-align: center;
}
.articles-container .tab-content-wrap .tab-content-save h3{
    margin-bottom: 16px;
    font-size: 26px;
}
.articles-container .tab-content-wrap .tab-content-save h3:before{
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    margin: 20px auto 12px;
    background-image: url(/images/profile_page/save_icon.png);
    background-repeat: no-repeat;
}
.articles-container .tab-content-wrap .tab-content-save p{
    line-height: 18px;
    font-size: 14px;
}
.upload-wrap .upload-title{
    display: inline-block;
    padding: 20px 0;
    font-size: 12px;
    font-weight: 600;
}
.upload-wrap .image-preview{
    height: 400px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px dashed #ddd;
    text-align: center;
}
.upload-wrap .image-preview #img{
    width: auto;
    max-height: 390px;
}
.upload-wrap .comment-textarea{
    width: 320px;
    padding: 3px;
    margin: 0 auto 10px;
    border: 1px solid #ddd;
    background: none;
    outline: none;
    resize: none;
    overflow-y: hidden;
}
.upload-wrap .input-custom{
    width: 103px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #000;
    background: none;
    font-size: 13px;
    vertical-align: middle;
}
.upload-wrap .file-wrap{
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.upload-wrap label.input-custom {
    display: inline-block;
    cursor: pointer;
}
.upload-wrap input[type="file"] {
    /* 파일 필드 숨기기 */
    position: relative;
    display: none;
}
.upload-wrap input[type="file"]:after{
    content: "";
    position: absolute;
    left: 0;
    width: 74px;
    height: 24px;
    background-color: #fafafa;
}
.follow-list-background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.follow-list-wrap{
    font-weight: 600;
    color: #262626;
}
.follow-list-wrap .follow-list-title{
    padding: 16px;
    border-bottom: solid 1px #dbdbdb;
    font-size: 16px;
}
.follow-list-wrap .close-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 18px;
    height: 18px;
    background-image: url(../images/photo_page/close-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.follow-list-wrap .follow-list-content{
    min-height: 200px;
    font-size: 14px;
}
.follow-list-wrap .follow-member{
    padding: 15px;
    border-bottom: 1px solid #efefef;
}
.follow-list-wrap .follow-member:last-child{
    margin-bottom: 0;
}
.follow-list-wrap .follow-member .pic{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c1317f;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.follow-list-wrap .follow-member .right-group{
    padding-left: 43px;
    font-weight: 400;
}
.follow-list-wrap .follow-member .nickname{
    font-weight: 600;
}
.follow-list-wrap .follow-member .name{
    color: #999;
}


/* footer */
.footer-comment-wrap .like-wrap{
    margin-bottom: 12px;
    font-size: 0;
}
.footer-comment-wrap .like-wrap .data-pass:before{
    content: "\f08a";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-right: 14px;
    vertical-align: middle;
    cursor: pointer;
}
.footer-comment-wrap .like-wrap .unlike-submit:before{
    content: "\f004";
    color: red;
}
.footer-comment-wrap .like-wrap .comment-icon{
    width: 24px;
    height: 24px;
    background-image: url(../images/photo_page/comment_icon.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
}
.footer-comment-wrap .like-wrap .delete{
    float: right;
    margin-top: -1px;
}
.footer-comment-wrap .like-wrap .delete-label:before{
    content: "\f05e";
    margin-left: 5px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    cursor: pointer;
}
.footer-comment-wrap .comment-wrap{
    padding-bottom: 10px;
    font-size: 14px;
}
.footer-comment-wrap .comment-wrap .view-count{
    margin-bottom: 15px;
    font-weight: 600;
    color: #262626;
}
.footer-comment-wrap .comment-wrap .comment{
    margin-bottom: 8px;
    color: #000;
}
.footer-comment-wrap .comment-wrap .comment > span{
    word-break: break-all;
}
.footer-comment-wrap .comment-wrap .comment .user-name{
    margin-right: 5px;
    font-weight: 600;
}
.footer-comment-wrap .record-time{
    padding: 5px 0 10px;
    font-size: 10px;
    color: #999;
}
.footer-comment-wrap .comment-typing-board{
    padding-top: 20px;
    border-top: 1px solid #efefef;
}
.footer-comment-wrap .comment-typing-board .comment-form{
    width: calc(100% - 14px);
    float: left;
}
.footer-comment-wrap .comment-typing-board .comment-textarea{
    width: 100%;
    border: none;
    -webkit-appearance: none;
    outline: none;
    resize: none;
    overflow-y: hidden;
}
.footer-comment-wrap .comment-typing-board ::-webkit-input-placeholder{
    font-size: 14px;
    color: #b5b5b5;
}
.paging{
    display: block;
    margin: 50px 0;
    text-align: center;
}
.paging .prev-wrap,
.paging .number-wrap,
.paging .next-wrap{
    display: inline-block;
}
.paging .prev-wrap,
.paging .next-wrap{
    margin: 0 8px;
    font-size: 18px;
}
.paging .number-wrap li{
    display: inline-block;
}
.paging .number-wrap .active{
    font-weight: 700;
}
.paging a {
    margin: 0 5px;
}
.paging i {
    font-family: FontAwesome;
}
.paging .prev-wrap .fa-angle-left:before {
    content:"\f104";
}
.paging .next-wrap .fa-angle-right:before {
    content: "\f105";
}

/* user_list */
.user-find-body-wrap .recommend-person-listwrap{
    padding: 0;
    margin-bottom: 60px;
    border: none;
    background: none;
}
.user-find-body-wrap .recommend-person-listwrap .sub-common-title{
    display: inline-block;
}
.user-find-body-wrap .recommend-person-listwrap .all-show-person{
    float: right;
    font-size: 12px;
    font-weight: 600;
    color: #3897f0;
}
.user-find-body-wrap .recommend-person-listwrap .person-info-wrap{
    width: 33.333% !important;
    height: auto !important;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 0 !important;
    border: 0;
    background: none;
}
.user-find-body-wrap .recommend-person-listwrap .person-info-wrap > span{
    padding-top: 25px;
    padding-bottom: 23px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #fff;
}
.user-find-body-wrap .recommend-person-listwrap .person-info-wrap .profile-pic{
    width: 74px;
    height: 74px;
}
.user-find-body-wrap .recommend-person-listwrap .person-info-wrap .follow-form{
    width: 92px;
}


/* all_user_list */
.recommend-person-listwrap.all{
    display: block;
    max-width: 602px;
    margin: 0 auto;
    padding: 0;
}
.recommend-person-listwrap.all .sub-common-title{
    padding-left: 20px;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-container{
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-wrap{
    width: 100% !important;
    height: auto;
    float: inherit;
    padding: 0;
    border: 1px solid #efefef;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-wrap > span{
    padding: 8px 16px;
    border: 0;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-wrap .profile-pic{
    width: 56px;
    height: 56px;
    margin-right: 15px;
    margin-bottom: 0;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-wrap .nickname-wrap{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 89px;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-wrap .nickname-wrap > span{
    margin-bottom: 0;
    text-align: left;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-wrap .follow-form{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 16px;
    width: 68px;
}
.user-find-body-wrap .recommend-person-listwrap.all .person-info-wrap .follow-form .btn-custom{
    padding: 0;
}








/* 푸터 네비 사이트맵 */
.footer-navi {
    max-width: 935px;
    margin: 0 auto;
    padding: 38px 0;
    font-size: 0;
}
.footer-navi .navi-wrap {
    display: inline-block;
    text-align: center;
}
.footer-navi .navi-content {
    display: inline-block;
    margin: 0 15px 12px 0;
    font-size: 12px;
    color: #003569;
}
.footer-navi .navi-content:last-child {
    margin-right: 0;
}
.footer-navi .footer-right-text {
    font-size: 12px;
    color: #999;
    text-transform: uppercase;
    text-align: center;
}
.modal.status{
    top: 65px;
}
.modal.status.nav-up{
    -webkit-transform: translateY(-17px);
    transform: translateY(-17px);
}
.modal.status .modal-dialog{
    position: absolute;
    right: 25px;
    width: 450px;
    max-height: 362px;
    min-height: 100px;
    -webkit-transform: translate(0);
    transform: translate(0);
    margin: 0 !important;
    background-color: #fff;
    border: solid 1px #e6e6e6;
    overflow-y: scroll;
}
.modal.status.modal-down{
    -webkit-transform: translateY(-22px);
    transform: translateY(-22px);
}
.modal.status .modal-content{
    box-shadow: none;
    border: 0;
}
.modal.status .modal-content .modal-body{
    padding: 0;
}
.modal.status .follow-member{
    padding: 12px 16px 13px;
    border: 0;
}
.modal.status .follow-member:after{
    content: '';
    position: absolute;
    right: 12px;
    bottom: 0;
    left: 58px;
    height: 0;
    border-bottom: 1px solid #efefef;
}
.modal.status .follow-member .pic-wrap{
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
}
.modal.status .follow-member .pic{
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    display: block;
}
.modal.status .follow-member .right-group{
    width: calc(100% - 41px);
    display: inline-block;
    vertical-align: middle;
    line-height: 1.3em;
    padding-left: 0;
}
.modal.status .follow-member .target-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    width: calc(100% - 45px);
}
.modal.status .follow-member .status-nickname{
    color: #262626;
    font-weight: 600;
}
.modal.status .follow-member .status-date{
    font-size: 11px;
    color: #999;
}
.modal.status .follow-member .target-pic{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-position: 50%;
    background-size: cover;
}