/* 디바이스 이미지 영역 */
.device-image{
    float: left;
    width: 368px;
    height: 584px;
    margin: 68px 28px 0 0;
    background-image: url(../images/landing_page/device-insta-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.content-wrap{
    max-width: 935px;
    margin: 0 auto;
}
/* 로그인 폼 */
.right-area{
    float: left;
}
.login-wrap{
    display: inline-block;
}

/*========== photo_page ==========*/
.header-content .left-content .scale{
    transform: scale(1);
}
.header-content .left-content .line{
    height: 33px;
    margin-right: 20px;
    margin-left: 17px;
}
.header-content .search-wrap{
    position: absolute;
    top: 50%;
    margin-top: -14px;
}


/* 푸터 네비 사이트맵 */
.footer-navi .footer-right-text{
    float: right;
}























