.content-wrap{
    max-width: 935px;
    margin: 0 auto;
}
.login-wrap{
    display: inline-block;
}

/*========== photo_page ==========*/
.header-content .left-content .scale{
    font-size: 30px;
}

/* 푸터 네비 사이트맵 */
.footer-navi .footer-right-text{
    float: right;
}























